[submodule "lanelets/lanelet2/lanelet2_scaled_lab_projector"]
	path = scenarios/road_network/lanelets/lanelet2/lanelet2_scaled_lab_projector
	url = ../../p-dmpc/lanelet2_scaled_lab_projector.git
[submodule "hlc/communication/unified_testbed_interface/uti_msgs"]
	path = hlc/communication/unified_testbed_interface/uti_msgs
	url = ../../p-dmpc/uti_msgs.git
